
@{
    ViewBag.Title = "EdicionProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TesisWeb.Models.clasesProducto.VMProducto
<link href="~/Content/template/css/style2.css" rel="stylesheet" />
<br />
<br />

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm">

        </div>
        <div class=" col-md-6  border p-3 form ">
            @using (Html.BeginForm())
            {
                <h2 class="sub ">Edición de Producto</h2>
                <br />
                @Html.HiddenFor(x => x.ProductoModel.IdProducto)
                <div class="form-group">
                    <label>Tipo de Producto</label>
                    @Html.DropDownListFor(x => x.ProductoModel.IdTipoProducto, new SelectList(Model.TiposProductos, "idTipoProducto", "descripcion", "SELECCIONE"), htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Marca</label>
                    @Html.DropDownListFor(x => x.ProductoModel.IdMarca, new SelectList(Model.TiposMarcas, "idMarca", "descripcion", "SELECCIONE"), htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    @Html.TextBoxFor(x => x.ProductoModel.Descripcion, htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="form-group">
                    <label>Precio</label>
                    @Html.TextBoxFor(x => x.ProductoModel.Precio, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Tipo de Oferta</label>
                    @Html.DropDownListFor(x => x.ProductoModel.idOferta, new SelectList(Model.TiposOfertas, "idOferta", "descripcion", "SELECCIONE"), htmlAttributes: new { @class = "form-control" })
                </div>

                <input type="submit" class="btn btn-primary" value="Editar Producto" />

            }
        </div>

        <div class="col-md-3 col-sm">
        </div>
    </div>
</div>
