<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>J&A Carnes SA</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    @Styles.Render("~/assets /img/favicon.png")
    @Styles.Render("~/assets/img/apple-touch-icon.png")
    <!--ver-->
    @Styles.Render("~/Content/templatePrinc/assets/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/templatePrinc/assets/vendor/icofont/icofont.min.css")
    @Styles.Render("~/Content/templatePrinc/assets/vendor/boxicons/css/boxicons.min.css")
    @Styles.Render("~/Content/templatePrinc/assets/vendor/owl.carousel/assets/owl.carousel.min.css")
    @Styles.Render("~/Content/templatePrinc/assets/vendor/remixicon/remixicon.css")
    @Styles.Render("~/Content/templatePrinc/assets/vendor/venobox/venobox.css")
    @Styles.Render("~/Content/templatePrinc/assets/vendor/aos/aos.css")
    @Styles.Render("~/Content/templatePrinc/assets/css/style.css")

    @Styles.Render("~/Content/fontawesome-free-5.15.3-web/css/fontawesome.css")
    @Styles.Render("~/Content/bootstrap.css")
    
</head>

<body>
    



    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-center">
                    <h1 class="logo mr-auto"><a href="index.html">J&A Carnes SA<span>.</span></a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="#header">Home</a></li>
                            <li><a href="#about">Conocenos</a></li>
                            <li><a href="#services">Repartos</a></li>

                            <!--<li><a href="#team">Team</a></li>-->

                            <li class="drop-down">
                                <a href="">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down 1</a></li>
                                    <li class="drop-down">
                                        <a href="#">Productos</a>
                                        <ul>
                                            <li><a href="#">Deep Drop Down 1</a></li>
                                            <li><a href="#">Deep Drop Down 2</a></li>
                                            <li><a href="#">Deep Drop Down 3</a></li>
                                            <li><a href="#">Deep Drop Down 4</a></li>
                                            <li><a href="#">Deep Drop Down 5</a></li>


                                        </ul>
                                    </li>
                                    <li><a href="#">Drop Down 2</a></li>
                                    <li><a href="#">Drop Down 3</a></li>
                                    <li><a href="#">Drop Down 4</a></li>
                                </ul>
                            </li>
                            <li><a href="#contact">Contact</a></li>

                            <li>
                                @Html.ActionLink("Empresa", "LoginAdm", "Acceso")
                            </li>

                            <li>@Html.ActionLink("Crear Cuenta", "CrearUserCliente", "ClienteUsuario")</li>
                            <li>@Html.ActionLink("Pedidos", "Index", "MaestroDetalle")</li>

                            @if (Session["User"] == null)
                            {
                                <li>@Html.ActionLink("Iniciar Sesión", "Login", "Acceso")</li>
                            }
                            else
                            {

                                <li>
                                    <a href="@Url.Action("Logout", "Acceso" )"><i class="fas fa-user-times"></i></a>


                                </li>


                            }

                        </ul>
                    </nav><!-- .nav-menu -->

                    <a href="#about" class="get-started-btn scrollto">Get Started</a>
                </div>
            </div>

        </div>

    </header>
    @RenderBody()

    @Scripts.Render("~/Content/fontawesome-free-5.15.3-web/js/all.min.js")
    @Scripts.Render("~/Content/fontawesome-free-5.15.3-web/js/fontawesome.min.js")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/jquery/jquery.min.js")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/jquery.easing/jquery.easing.min.js")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/php-email-form/validate.js")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/owl.carousel/owl.carousel.min.js")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/waypoints/jquery.waypoints.min.js")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/counterup/counterup.min.js")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/isotope-layout/isotope.pkgd.min.js")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/venobox/venobox.min.js")
    @Scripts.Render("~/Content/templatePrinc/assets/vendor/aos/aos.js")
    @Scripts.Render("~/Content/templatePrinc/assets/js/main.js")

    @Scripts.Render("~/Scripts/jquery-3.6.0.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/bootstrap.js")


</body>


</html>